#
# Copyright IBM Corp. 2014
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#    http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#
RewriteEngine on
RewriteBase /todos

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^/?(api.*)$ index.php [L]

RewriteCond %{REQUEST_FILENAME} ^/?(.*bower_components.*|.*images.*|.*js.*)$
RewriteCond %{REQUEST_FILENAME} !^/?(.*public.*)$
RewriteRule ^/?(.*)$ public/$1 [PT]

RewriteCond %{REQUEST_FILENAME} ^/?(.*index.html)$
RewriteRule ^/?(.*)$ public/index.html [PT]